@page "/education"

<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">High School   &quot;Petar Parchevich&quot; </h3>
        @*<div class="subheading mb-3">Communication technologies</div>*@
    </div>
    <div class="flex-shrink-0"><span style="color:purple">September 1991 - May 1995</span></div>
</div>
<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Forestry Vocational School</h3>
        <div class="subheading mb-3">forester technician </div>
    </div>
    <div class="flex-shrink-0"><span style="color:purple">September 2002 - May 2003</span></div>
</div>
<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="flex-grow-1">
        <h3 class="mb-0">SoftUni</h3>
        <div class="subheading mb-3">Software Engineering with C#</div>
    </div>
    <div class="flex-shrink-0"><span style="color:purple">October 2018 - December 2020</span></div>
</div>
<br />
<hr class="m-0" />
<div style="padding-bottom:5px;font-weight:bold;font-size:15px;color:#000000;">Languages</div>
<div>
    <span class="rowTitleView" valign="top" style="padding-bottom:10px;">Mother tongue:</span>
    <span class="rowDataView" colspan=3 style="padding-bottom:10px;">Bulgarian</span>
</div>
<br />
<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="flex-grow-1">
        @*<h3 class="mb-0">AVO-Bell</h3>*@
        <div class="subheading mb-3">English Level <span style="color:red">A</span></div>
    </div>
    @*<div class="flex-shrink-0"><span style="color:purple">April 2019 - June 2020</span></div>*@
</div>
<table cellspacing=0 cellpadding=0 border=0>
    <tr>
        <td class="rowDataView" valign="top" width=100>&nbsp;</td>
        <td class="rowDataView" valign="top" width=100><b>Comprehension__</b></td>
        <td class="rowDataView" valign="top" width=100><b>Speaking__</b></td>
        <td class="rowDataView" valign="top" width=400><b>Writing</b></td>
    </tr>
    <tr>
        <td valign="top" align=right style="padding-right:10px;padding-top:4px;"><b>English</b></td>
        <td class="rowDataView" valign="top"><span class="spanDataView">Beginner</span></td>
        <td class="rowDataView" valign="top"><span class="spanDataView">Beginner</span></td>
        <td class="rowDataView" valign="top"><span class="spanDataView">Beginner</span></td>
    </tr>
    <tr>
        <td valign="top" align=right style="padding-right:10px;padding-top:4px;"><b>Russian</b></td>
        <td class="rowDataView" valign="top"><span class="spanDataView">Beginner</span></td>
        <td class="rowDataView" valign="top"><span class="spanDataView">Beginner</span></td>
        <td class="rowDataView" valign="top"><span class="spanDataView">Beginner</span></td>
    </tr>
</table>
<hr class="m-0" />
