@page "/experience"

<hr class="m-0" />
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
        <h3 class="mb-0">Regional Forest Directorate Sofia</h3>
        <p>Chief specialist forest inspector</p>
        <NavLink type="button" href="instalationsRDG" class="btn btn-primary">details</NavLink>
    </div>
    <div class="flex-shrink-0"><span style="color: purple">February 2003 - May 2021</span></div>
</div>

<br />
<hr class="m-0" />
