@page "/"

<h1 class="text-md-center display-1">
    Velislav Angelov
    <span style="color: purple">Angelov</span>
</h1>
<div class="text-md-center subheading mb-5">
    <div>
        Email:
        <NavLink href="https://mail.google.com/" target="_blank">
            velyangelov@gmail.com
        </NavLink>
    </div>
    <div>
        Phone:<b>(+359)887 004 031</b>
    </div>
    <div>
        Place of residence:Sofia
    </div>
    <div>
        <span style="letter-spacing:21px">
            <NavLink href="https://www.linkedin.com/in/genadi-mladenov-2330571b4/" target="_blank">
                <i class="fab fa-linkedin-in" style="font-size:30px"> </i>
            </NavLink>
        </span>
        <span>
            <NavLink href="https://github.com/VelislavAngelov" target="_blank">
                <i class="fab fa-github" style="font-size:30px"></i>
            </NavLink>
        </span>
    </div>
</div>
<br />
<b>My experience in programming is only 2 years of studying at SoftUni but I have worked different job positions, where I acquired new set of skills every time. I think the ability to learn is very important for the developer and I have serious background in this regard. Therefore, I am positive that I will master the necessary technologies and tools to work in your company.</b>
