@page "/instalationsRDG"

<table cellspacing=0 cellpadding=0 border=0>

    <tr>
        <td class="rowTitleView" valign="top">Period:</td>
        <td class="rowDataView" valign="top">February 2003 - May 2021</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Job Title:</td>
        <td class="rowDataView">Chief specialist forest inspector</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company:</td>
        <td class="rowDataView">Regional Forest Directorate Sofia</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Business sector:</td>
        <td class="rowDataViewNormal">Forestry</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Location:</td>
        <td class="rowDataViewNormal">Sofia</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Company size:</td>
        <td class="rowDataViewNormal">around 100</td>
    </tr>
    <tr>
        <td class="rowTitleView" valign="top">Additional Details:</td>
        <td class="rowDataViewNormal" valign="top">
            The Directorate has the responsibility for the control of the protectione
            of the forest territory in Sofia Region, whichincludes 12 forest managments and 2 hunting managments.<br />
            Responsabilities:<br />
            * Control over logging, transport of the acquived wood, and wood processing<br />
            * Owning a officiary car with special mode of movement<br />
            * Carrying out inspections for hunting, fishery and the defending of protected areas
        </td>
    </tr>
</table>
<NavLink type="button" href="experience" class="btn btn-primary">back</NavLink>
