@page "/interests"

<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    <p>Apart from the foretry sector and the IT sector, i have interests in football and volleyball. At home i also practice eco-gardening and cutting grass with a mower. I like to travel around Europe with my own car.</p>
</div>