@page "/project"

<h2 class="mb-5">Project</h2>
@*<p>
    In order to learn and gain experience in programming, I embarked on a project involving the use of graphs as a data structure. If you want to see it, the link is
    <NavLink href="http://damagame.azurewebsites.net" target="_blank">
        http://damagame.azurewebsites.net
    </NavLink>.
</p>*@
<p>
    I use: ASP.NET Core 5, ASP.NET MVC 5, Razor, Linq, SignalR, Entity Framework, AutoMapper.
</p>
<p>
    The project code is on:
    <NavLink href="https://github.com/VelislavAngelov/LogbookWood" target="_blank">
        https://github.com/VelislavAngelov/LogbookWood
    </NavLink>.
</p>
