@page "/skills"

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <br />
        <div class="subheading mb-3">Computer Skills & Tools:</div>
        <ul cellspacing=0 cellpadding=0 border=0 style="border-top:1px solid #000000;" width=100%>
            <li>
                Windows OS, Linux Ubuntu
            </li>
            <li>
                MS Visual Studio 2017/2019, SSMS, Visual Studio Code
            </li>
            <li>
                C#, JS, MSSQL
            </li>
            <li>
                Linq, ASP.NET Core, ASP.NET MVC, Razor, ASP.NET WebAPI, SignalR, Blazor, Entity Framework, AutoMapper, XUnit
            </li>
            <li>
                HTML5, CSS3, Bootstrap
            </li>
            <li>
                GitHub, Azure
            </li>
        </ul>
        <br />
        <br />
        <div class="subheading mb-3">Personal strengths and skills:</div>
        <ul cellspacing=0 cellpadding=0 border=0 style="border-top:1px solid #000000;" width=100%>
            <li>
                Teamwork
            </li>
            <li>
                Punctual
            </li>
            <li>
                Good at working under pressure
            </li>
            <li>
                Consistent at the workplace
            </li>
            <li>
                Flexible
            </li>
            <li>
                Calm and nerveless at working under pressure
            </li>
            <li>
                Focused
            </li>
            <li>
                Responsible for performing his tasks
            </li>
            <li>
                Non-distracting
            </li>
            <li>
                Driver's License: Category B and C
            </li>
        </ul>
    </div>
</section>
